section{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.main-container{
    height: 958px;
}
.site-top-container{
    
    height: 136px;
}

.site-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.site-header-top-container{
    display: flex;

    font-family: Montserrat;
    font-weight: 400;
    padding: 20px 0;
    width: 100%;
}

.city-choose-container{
    display: inline-flex;
    padding: 1px 0px 3.361px 3px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin: 0 112px 0 0;
}


.city-choose-container:hover{
    cursor: pointer;
}


.city-choosen{
    display: flex;
    gap: 5px;
    color: #000;
    font-size: 13px;
    line-height: 14px; 
    align-items: center;
}

.city-choosen-name:hover{
    cursor: pointer;
}


.company-address{
    display: flex;
    gap: 12px;
    margin: 0 110px 0 0;
    color: #333;
    font-size: 13px;
    line-height: 20px;
}




.company-address-geoposition{
    width: 9px;
    height: auto;
}

.social-nets-container{
    display: flex;
    gap: 22px;
    align-items: center;

    padding: 0 146px 0 0;
}


.phone-container{
    display: inline-flex;
    align-items: center;
    margin: 0 89px 0 0;
}

.phone-container__icon{
    height: 13px;
    width: auto;
    opacity: 0.5;
    align-items: center;
    
}

.phone-container__number{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 16px 0 0;
    color: #333;
    font-size: 15px;
    line-height: 18px;
}

.phone-container__number:hover{
    cursor: pointer;
}

.call-request{
    color: #3562D6;
    font-size: 13px;
    line-height: 19px; 
}

.call-request:hover{
    cursor: pointer;
}

.small_arrow_down{
    height: 4px;
    width: 5px;
}

.small_arrow_down:hover{
    cursor: pointer;
}


.header-help-menu{
    display: flex;
    gap: 52px;
    align-items: center;
}

.header-help-menu-language{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.header-help-menu-language__icon{
    display: flex;
    align-items: center;
    gap: 6px;
}

.basket__counter{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #49B822;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
    left: 11.3px;
}

.basket__counter-text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
}

.basket__icon{
    position: absolute;
}


.site-header-menu{
    width: 100%;
    height: 70px;
    display: flex;

    align-items: center;
}


.site-header-menu-rigth{
    display: flex;
    padding: 0 32px 0 0;
}

.site-header-menu-logo{
    display: flex;
    gap: 14px;
    align-items: center;
}

.site-header-menu-logo-text{
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    color: #333;
}

.header-description{
    width: 207px;
    margin: 0 49px 0 60px;
    color:#999;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}



/*--navigation--*/

.navigation{
    display: flex;

    gap: 45px;
    color: #333;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    padding: 0 110px 0 0;
}

.navigation-elem:hover{
    color:#3562D6;
    cursor: pointer;
}

.header__sumbit-button{
    padding: 10px 22px 12px;
    background-color: #3761E9;
    border: 0;
    color: #FFF;
    font-family: Montserrat;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
}

.header__sumbit-button:hover{
    cursor: pointer;
}

/*-------*/

/*--second page styles--*/

.section-pluses{
    padding: 168px 0 163px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
}

.pluses-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}

.pluses-info__container{
    display: flex;
    flex-direction: row;
    
    gap: 34px;
    justify-content: center
}

.pluses-info__header{
    width: 480px;
    color: #333;
    
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.pluses-info__text{
    width: 478px;
    height: 84px;
    display: block;
    color: #666;

    font-size: 15px;
    font-weight: 400;
    line-height: 25px; 
}

.cart-info-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap:32px;
    justify-content: center;
}

.cart-info{
    display: flex;
    flex-direction: column;
    padding: 41px 0 38px 40px;
    width: 480px;
    height: 227px;
}

.cart-info__image{
    width: 29px;
    height: 29px;
    margin-bottom: 24px;
}

.cart-info__header{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px; /* 125% */
}

.cart-info__text{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    width: 410px;
}

.section-pluses__button{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 26px;
    background-color: #3761E9;
    border-radius: 4px;
    border: 0;
    
}

.section-pluses__button:hover{
    cursor: pointer;
}

/*--------*/


/*--third page styles--*/

.news-section{
    padding: 122px 0 204px;
    font-family: Montserrat;
}

.news-section-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.news-section-year-info{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px; 
    margin-bottom: 12px;
}



.news-section-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;
}

.news-section-header__left-elem{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.news-section-header__rigth-elem{
    display: flex;
    
    color: #333;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}

.news-section-describtion{
    width: 862px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; 
    margin-bottom: 63px;
}

.news-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.news-item {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-decoration: none;
}

.news-date{
    position: absolute;
    top: 324px;
    box-sizing: border-box;
    padding: 0 40px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;

}

.news-date:hover{
    cursor: pointer;
}

.news-placeholder{
    position: absolute;
    top: 356px;
    box-sizing: border-box;
    padding: 0 40px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px; 
}

.news-placeholder:hover{
    cursor: pointer;
}

/*--------*/


/*--fourth page--*/

.about-section{
    padding: 170px 0 130px;
    font-family: Montserrat;
}

.about-section-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 74px;
}

.about-section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 1504px; */
    gap: 60px;
}

.about-section-content__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-section-header{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; 
    margin-bottom: 16px;
}

.about-section-main-header{
    color:#333;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 29px;
    width: 455px;
}

.about-section__button{
    border-radius: 4px;
    background: #3761E9;
    border: 0;
    padding: 15px 26px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
}

.about-section__button:hover{
    cursor: pointer;
}


.about-section-content__rigth{
    width: 994px;
    display: flex;
    gap:37px;
    flex-direction: column;
}

.about-section-text{
    padding-right: 48px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

}


.about-carts-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:28px;
}

.about-cart-item{
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.about-cart-item-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.about-cart-item-info-header{
    color: #333;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px; 
}

.about-cart-item-info-text{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; 
    width: 352px;
}

.about-video{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-video-start-button{
    position: absolute;
}

.about-video-start-button:hover{
    cursor: pointer;
}


/*-----*/

/*fifth page style*/


.section-contact-form{
    font-family: Montserrat;
    padding: 170px 0 130px;

}

.contact-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form__header{
    color: #999;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 0.88px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.contact-form__main-header{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px; 
    margin-bottom: 24px;
}

.contact-form__text{
    color: #666;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; 
    width: 992px;
    margin-bottom: 31px;
}


.top-contact-form{
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-bottom: 18px;
}


.input-field{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.input-form-label{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; 
}

.top-input-form-field{
    width: 351px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #DDD;
    background: #F8F8F8;
}

.big-input-form-field{
    width: 736px;
    height: 88px;
    flex-shrink: 0;
    background: #F8F8F8;
    border: 1px solid #DDD;
    margin-bottom: 24px;
}


.checkbox-personal-data{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.checkbox-form{
    border-radius: 3px;
    border: 1px solid #DDD;
    background: #FCFCFC;
    width: 17px;
    height: 17px;

}


.checkbox-label{
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; 
    
}


.checkbox-label__link{
    text-decoration: none;
    color: #3562D6;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    font-family: Montserrat;
}

.contact-form-button{
    padding: 15px 26px;
    border-radius: 4px;
    background: #3761E9;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    border: 0;
}

/*----*/