span, p, a,div,select{
    font-family: Montserrat;
}

section{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.main-container{
    height: 958px;
}

.site-top-container{
    height: 136px;
}

.site-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-header-top-container{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    padding: 20px 0;
    width: 100%;
}


.city-choose-container{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.city-choose-container:hover{
    cursor: pointer;
}


.select-header-menu{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
    font-size: 13px;
    line-height: 14px; 
    font-weight: 400;
    align-items: center;
    border: none;
}

.select-header-menu:hover{
    cursor: pointer;
}

.city-select{
    color: #000;
}


.company-address{
    display: flex;
    gap: 12px;
    color: #333;
    font-size: 13px;
    line-height: 20px;
}

.company-address-geoposition{
    width: 9px;
    height: auto;
}


.social-nets-container{
    display: flex;
    gap: 22px;
    align-items: center;
}

.social-nets-items{
    opacity: 0.5;
}


.phone-container{
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.phone-container__main{
    display: inline-flex;
}

.phone-container__icon{
    display: flex;
    height: 13px;
    width: auto;
    opacity: 0.8;
    align-items: center;
}

.phone-container__number:hover{
    cursor: pointer;
}

.call-request{
    color: #3562D6;
    font-size: 13px;
    line-height: 19px; 
}

.call-request:hover{
    cursor: pointer;
}

.small_arrow_down{
    height: 4px;
    width: 5px;
}

.small_arrow_down:hover{
    cursor: pointer;
}


.header-help-menu{
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-help-menu-language{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.header-help-menu-language__icon{
    display: flex;
    align-items: center;
    gap: 6px;
}

.basket__counter{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #49B822;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
    left: 11px;
}

.basket__counter-text{
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
}

.basket__icon{
    position: absolute;
}


.site-header-menu{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.site-header-menu-rigth{
    display: flex;
    padding: 0 32px 0 0;
}

.site-header-menu-logo{
    display: flex;
    gap: 14px;
    align-items: center;
}

.site-header-menu-logo-text{
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    color: #333;
}

.header-description{
    width: 207px;
    margin: 0 49px 0 60px;
    color:#999;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

/*--navigation--*/

.navigation{
    display: flex;
    gap: 45px;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    padding: 0 110px 0 0;
}

.navigation-elem:hover{
    color:#3562D6;
    cursor: pointer;
}

.header__sumbit-button{
    padding: 10px 22px 12px;
    background-color: #3761E9;
    border: none;
    color: #FFF;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
}

.header__sumbit-button:hover{
    cursor: pointer;
}

/*-------*/

.drop-menu{
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 220px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    gap:15px;
    box-sizing: border-box;
}

.first-drop-menu{
    position: relative;
    left: 1015px;
    display: none;
}

.second-drop-menu{
    position: relative;
    left: 1235px;
    bottom: 250px;
    display: none;
}

.menu-elem{
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px; 
}

.menu-elem:hover{
    color: #3761E9;
    cursor: pointer;
}

.hard-menu-elem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*--second page styles--*/

.section-pluses{
    padding: 168px 0 163px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}

.pluses-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}

.pluses-info__container{
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: center
}

.pluses-info__header{
    width: 480px;
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.pluses-info__text{
    width: 478px;
    height: 84px;
    display: block;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; 
}


.cart-info-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap:32px;
    justify-content: center;
}

.cart-info{
    display: flex;
    flex-direction: column;
    padding: 41px 0 38px 40px;
    width: 480px;
    height: 227px;
}

.cart-info__image{
    width: 29px;
    height: 29px;
    margin-bottom: 24px;
}

.cart-info__header{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px; /* 125% */
}

.cart-info__text{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    width: 410px;
}


.section-pluses__button{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 26px;
    background-color: #3761E9;
    border-radius: 4px;
    border: none;
}

.section-pluses__button:hover{
    cursor: pointer;
}

/*--------*/


/*--third page styles--*/

.news-section{
    padding: 122px 0 204px;
}

.news-section-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.news-section-year-info{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px; 
    margin-bottom: 12px;
}

.news-section-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;
}

.news-section-header__left-elem{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.news-section-header__rigth-elem{
    display: flex;
    color: #333;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}

.news-section-describtion{
    width: 862px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; 
    margin-bottom: 63px;
}

.news-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.news-item {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-decoration: none;
}

.news-date{
    position: absolute;
    top: 324px;
    box-sizing: border-box;
    padding: 0 40px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;

}

.news-date:hover{
    cursor: pointer;
}

.news-placeholder{
    position: absolute;
    top: 356px;
    box-sizing: border-box;
    padding: 0 40px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px; 
}

.news-placeholder:hover{
    cursor: pointer;
}

/*--------*/

/*--fourth page--*/

.about-section{
    padding: 170px 0 130px;
}

.about-section-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 74px;
}

.about-section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.about-section-content__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-section-header{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; 
    margin-bottom: 16px;
}

.about-section-main-header{
    color:#333;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 29px;
    width: 455px;
}

.about-section__button{
    border-radius: 4px;
    background: #3761E9;
    border: none;
    padding: 15px 26px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
}

.about-section__button:hover{
    cursor: pointer;
}

.about-section-content__rigth{
    width: 994px;
    display: flex;
    gap:37px;
    flex-direction: column;
}

.about-section-text{
    padding-right: 48px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

}

.about-carts-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:28px;
}

.about-cart-item{
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.about-cart-item-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-cart-item-info-header{
    color: #333;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px; 
}

.about-cart-item-info-text{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; 
    width: 352px;
}


.about-video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-video-start-button{
    position: absolute;
}

.about-video-start-button:hover{
    cursor: pointer;
}

/*-----*/

/*fifth page style*/

.section-contact-form{
    padding: 170px 0 130px;
}

.contact-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form__header{
    color: #999;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 0.88px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.contact-form__main-header{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px; 
    margin-bottom: 24px;
}

.contact-form__text{
    color: #666;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; 
    width: 992px;
    margin-bottom: 31px;
}


.top-contact-form{
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-bottom: 18px;
}


.input-field{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.input-form-label{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; 
}

.top-input-form-field{
    width: 351px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #DDD;
    background: #F8F8F8;
}


.big-input-form-field{
    width: 736px;
    height: 88px;
    flex-shrink: 0;
    background: #F8F8F8;
    border: 1px solid #DDD;
    margin-bottom: 24px;
}


.checkbox-personal-data{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.checkbox-form{
    border-radius: 3px;
    border: 1px solid #DDD;
    background: #FCFCFC;
    width: 17px;
    height: 17px;
}


.checkbox-label{
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; 
}

.checkbox-label__link{
    text-decoration: none;
    color: #3562D6;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.contact-form-button{
    padding: 15px 26px;
    border-radius: 4px;
    background: #3761E9;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    border: none;
}

/*----*/


/* sixth page (progucts)*/
.section-products{
    padding: 151px 0 338px;
    justify-content: center;
}

.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.product-item{
    display: flex;
    flex-direction: column;
    height: 504px;
    width: 361px;
    border: 1px solid #E5E5E5;
    align-items: center;
    position: relative;
}

.product-item-img-container{
    margin-bottom: 20px;
}

.product-item-image{
    width: 296px;
    height: 298.368px;
}

.product-item-img-container-header{
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding: 5px 8px;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 28px;
    left: 28px;
}

.hit-product{
    background: #ED673C;
}

.advice-product{
    background: #925AEC;;
}

.new-product{
    background: #31B82F;
}


.product-item__action-1{
    position: absolute;
    top: 28px;
    right: 28px;
}

.product-item__action-2{
    position: absolute;
    top: 66px;
    right: 28px;
}

.product-item-describtion{
    width: 305px;
}

.product-item-describtion__text{
    color: #333;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px; 
}

.product-item-data{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; 
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 24px;
}

.product-item-availability-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #69BE15;
    border: 1px solid #5DA911;
    margin-right: 6px;
}

.product-item-availability-text{
    color: #69BE15;
    margin-right: 18px;
}

.product-item-data-code{
    color: #999;
}

.product-item-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cost-container{
    display: flex;
    flex-direction: column;
}

.product-item-cost{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color:#333;
}

.product-item-previous-cost{
    color: #999;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px; 
    text-decoration: line-through;
}

.product-item-discount{
    border-radius: 3px;
    border: 1px solid #F2CB00;
    background: #FFD600;
    color: #333;
    font-size: 11px;
    font-weight: 600;
    line-height: 10px; /* 90.909% */
}

.product-item-buy__button{
    border-radius: 4px;
    border: 1px solid rgba(55, 97, 233, 0.35);
    display: inline-flex;
    padding: 8px 20px;
    background-color: #FFF;
    color: #3761E9;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
}

.product-item-buy__button:hover{
    background-color: #3761E9 ;
    color: #FFF;
    cursor: pointer;
}

/*-------------*/

/* footer*/
.footer{
    display: flex;
    padding: 50px 0 62px;
    height: 652px;
    background-color: #333;
    justify-content: center;
}

.footer-container{
    width: 1502px;
}

.footer-container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 54px;
}

.footer-container__header-info{
    display: flex;
    flex-direction: row;
    gap:54px;
    align-items: center;
}


.footer-phone-info-container{
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.footer-phone-info__icon{
    height: 14px;
    width: 8px;
}

.footer-phone-info__number{
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #FFF;
    font-size: 15px;
    align-items: center;
    font-weight: 700;
    line-height: 16px; 
}

.footer-phone-info__number:hover{
    cursor: pointer;
}

.footer-small-arrow{
    height: 3px;
    width: 5px;
}

.footer-email-info-container{
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.footer-email-info__email{
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; 
}

.footer-addres{
    color: #FFF;
    margin: 0;
}


/* footer main*/
.footer-content{
    position: relative;
}

.footer-container-main{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 84px;
    background-color: #333;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 60px 70px 69px 64px;
}

.footer-container-column{
    display: flex;
    flex-direction: column;
    gap:21px;
    width: 206px;
}

.footer-container-column__header{
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

.footer-container-column__header:hover{
    color: #999;
    cursor: pointer;
}

.footer-container-column__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-container-column__item{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; 
    text-decoration: none;
}

.footer-container-column__item:hover{
    color: #FFF;
    cursor: pointer;
}


.pay-container{
    display: flex;
    justify-content: center;
    background-color: #333;
    position: absolute;
    z-index: 2;
    top: 376px;
    left: 629px;
    margin-bottom: 50px;
}


.footer-container-bottom{
    position: absolute;
    top: 426px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px; 
    align-items: center;
}

.footer-bottom-subscribe{
    display: flex;
    align-items: center;
    gap: 12px;
}

.bottom-select{
    color: #999;
    background-color: #333;
}

.footer-build-in-info{
    display: flex;
    align-items: center;
    gap: 14px;
}